In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame({'x': [1, 2], 'y': [4, 5]})
df

   x  y
0  1  4
1  2  5

In [10]:
p = 2
x = df.iloc[0].values
y = df.iloc[1].values
minkowski = np.sum(np.abs(x - y)**p)**(1/p)
minkowski

np.float64(1.4142135623730951)

In [33]:
#hamming
s1 = pd.Series([1, 0, 1, 1,0])
s2 = pd.Series([1, 1, 0, 1,1])

hamming = 0

if len(s1) != len(s2):
    print("Eyni uzunluqda olmalidir")
else:
    for i in range(len(s1)):
        if s1.iloc[i] != s2.iloc[i]:
            hamming += 1


hamming

3

In [46]:
import pandas as pd

df = pd.DataFrame({"soz1": ["minaye", "kepenek", "etir"],"soz2": ["kinaye", "çiyelek", "çetir"]})





'''

from itertools import product
import Levenshtein as lev

df1 = pd.DataFrame({'Name': ['Name1a', 'Name2a']})
df2 = pd.DataFrame({'Name': ['Name1b', 'Name2b']})

# Create a new DataFrame with all combinations of names
all_combinations = pd.DataFrame(list(product(df1['Name'], df2['Name'])), columns=['Name1', 'Name2'])

# Calculate the Levenshtein distance for each pair
all_combinations['LevScore'] = all_combinations.apply(lambda row: lev.distance(row['Name1'], row['Name2']), axis=1)

print(all_combinations)



'''

def levenshtein(a, b):
    m, n = len(a), len(b)

    
    dp = [[0] * (n + 1) for _ in range(m + 1)] ## bir dene (m+1) * (n+1) olculu bos matirx yaradiriq

    for i in range(m + 1):
        dp[i][0] = i ## eger ikinci soz bosdursa onda birinci soz qeder olur
    for j in range(n + 1): ## eger birinci soz bosdursa ikinci sozu yaratmaq ucun j qeder elave etmleiyik
        dp[0][j] = j

    for i in range(1, m + 1):            ##herfler eynidirse deyisdirme ferqlidirsa cost+1
        for j in range(1, n + 1):
            if a[i - 1] == b[j - 1]:
                cost = 0
            else:
                cost = 1

            dp[i][j] = min(             ##3 ehtimali muqayise edirik ve minimum olani goturuurk 
                dp[i - 1][j] + 1,      # delete
                dp[i][j - 1] + 1,      # insert
                dp[i - 1][j - 1] + cost  # replace
            )

    return dp[m][n]

df["levenshtein"] = df.apply(lambda x: levenshtein(x["soz1"], x["soz2"]),axis=1)

df

      soz1     soz2  levenshtein
0   minaye   kinaye            1
1  kepenek  çiyelek            4
2     etir    çetir            1